{% extends 'base.html' %} {% block title %}{{ topic.subject }}
{% endblock %} 
{% block content %}
<div class="container py-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'board_topics' topic.board.pk %}"
          >{{ topic.board.name }}</a
        >
      </li>
      <li class="breadcrumb-item active">{{ topic.subject }}</li>
    </ol>
  </nav>

  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">{{ topic.subject }}</h4>
    </div>
    {% for post in topic.posts.all %}
    <div class="card-body border-bottom">
      <div class="row">
        <div class="col-md-2 text-center">
          <img
            src="{{ post.created_by.profile.avatar.url }}"
            alt="{{ post.created_by.username }}"
            class="rounded-circle mb-2"
            style="width: 80px; height: 80px; object-fit: cover"
          />
          <p class="mb-1">
            <strong>{{ post.created_by.username }}</strong>
          </p>
          <small class="text-muted"
            >Posts: {{ post.created_by.posts.count }}</small
          >
        </div>
        <div class="col-md-10">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <small class="text-muted">Posted {{ post.created_at }}</small>
            {% if user.is_authenticated and post.created_by == user %}
            <a class="btn btn-sm btn-outline-primary" role="button" href="{% url 'edit_post' post.topic.board.pk post.topic.pk  post.pk%}">Edit</a>
            {% endif %}
          </div>
          {{ post.message }}
          {% comment %} if updated  {% endcomment %}
          {% if post.updated_date %}
          <div class="text-muted">
            <small>
              <em>Last updated {{ post.updated_date }}</em>
            </small>
        </div>
          {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
   <a class="btn btn-primary" href="{% url 'reply_topic' topic.board.pk topic.pk %}" type="button">
 Post a Reply 
    </a>






</div>
{% endblock %}
